---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import PrimerSeparador from "../components/PrimerSeparador.astro";
import Nosotros from "../components/Nosotros.astro";
import SegundoSeparador from "../components/SegundoSeparador.astro";
import EspecialistasHome from "../components/EspecialistasHome.astro";
import TercerSeparador from "../components/TercerSeparador.astro";
---

<Layout>
    <main>
        <Hero />
        <PrimerSeparador/>
        <Nosotros/>
        <SegundoSeparador/>
        <EspecialistasHome/>
        <TercerSeparador/>
    </main>
    
</Layout>


