---
import { Image } from "astro:assets";
import Papeles from "../assets/papeles.jpg";
---

<div class="flex w-full h-screen">
    <div class="w-1/2 flex justify-center">
        <div
            class="w-5/6 flex flex-col justify-center items-start text-center opacity-0 translate-x-[-5rem] ease duration-1000 fadeInRightOnScroll">
            <h2 class="text-5xl text-gray-100 text-left">Nuestra Filosofía</h2>
            <p class="text-xl text-gray-100 text-left">
                But I must explain to you how all this mistaken idea of
                denouncing pleasure and praising pain was born and I will give
                you a complete account of the system, and expound the actual
                teachings of the great explorer of the truth, the master-builder
                of human happiness.
            </p>
            <br />
            <h3 class="text-3xl text-gray-100 text-left">En Abogados RCG:</h3>
            <ul class="text-xl text-gray-100 text-left list-disc ml-5">
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam malesuada massa ut commodo tincidunt. Mauris.
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis blandit nisi dictum ante hendrerit viverra.
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam scelerisque ornare tortor, ut consequat erat.
                </li>
            </ul>
        </div>
    </div>
    <Image
        class="w-1/2 h-screen object-cover transition-all opacity-0 translate-x-20 duration-1000 ease fadeInLeftOnScroll"
        src={Papeles}
        alt="Pluma estilográfica"
    />
</div>
