---
import Button from "./Button";
---

<div
    class="relative z-10 py-10 text-center text-main-gold bg-blue-100 flex flex-col justify-center gap-4 items-center shadow-[0_0_20px_10px_rgba(0,0,0,.7)] opacity-0 transition-all ease duration-1000 fadeInOnScroll">
    <p class="text-xl max-w-4xl font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean cursus
        malesuada mauris, vel pellentesque tellus egestas ac. Phasellus ut ex eu
        mauris porttitor maximus. Integer sodales enim nec nulla mattis
        eleifend. Aenean consequat suscipit porta. Nullam vel porta sem. Nunc.
    </p><p class="text-xl max-w-4xl font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac justo
        leo. Aenean posuere elementum risus, ultricies interdum metus ultrices
        ac. Sed fermentum suscipit fringilla.
    </p>
</div>
