---
import Button from "./Button";
---

<div
    class="relative z-10 py-10 text-center text-main-gold bg-blue-100 flex flex-col justify-center gap-4 items-center shadow-[0_0_20px_10px_rgba(0,0,0,.7)] opacity-0 transition-all ease duration-1000 fadeInOnScroll">
    <h2 class="text-5xl text-main-gold">
        Comprometidos con la Excelencia Legal
    </h2>
    <p class="text-xl max-w-4xl font-medium">
        El derecho es una disciplina fundamentada en el conocimiento, la ética y
        la experiencia. En Abogados RCG, combinamos estos valores con un enfoque
        moderno y estratégico para ofrecer soluciones jurídicas eficaces y
        personalizadas.
    </p><p class="text-xl max-w-4xl font-medium">
        Cada caso es una oportunidad para defender los derechos de nuestros
        clientes con rigor y compromiso, garantizando un asesoramiento legal
        claro y una representación sólida en cada etapa del proceso.
    </p>
</div>
