<div
    class="gap-6 p-4 relative h-full w-full flex flex-col justify-center items-center text-white text-center">
    <h1 class="opacity-0 text-4xl text-gray-100 md:w-3/5 w-full animate-fadeIn">
        Visítanos y descubre un servicio jurídico de confianza en Sanlúcar de
        Barrameda.
    </h1>
    <div class="relative w-full overflow-hidden pt-[30%] max-w-[1400px]">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2954.2802371091966!2d-6.367100917375244!3d36.779780900709014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzbCsDQ2JzQ3LjIiTiA2wrAyMSc0NC4wIlc!5e1!3m2!1ses!2ses!4v1742644591073!5m2!1ses!2ses"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="absolute inset-0 w-full h-full border-none outline-none">>
        </iframe>
    </div>
    <div
        class="absolute inset-0 w-full h-full bg-cover bg-center opacity-30 -z-10 bg-[url('src/assets/mesa_reunion.jpg')] transition-all animate-backgroundFadeIn">
    </div>
</div>
