---

---

<div
    class="min-h-52 text-center text-main-gold bg-blue-100 flex flex-col justify-center gap-2 items-center shadow-[0_0_20px_10px_rgba(0,0,0,.7)] opacity-0 transition-all ease duration-1000 fadeInOnScroll">
    <h2 class="text-4xl">¿Le gustaría estar al tanto de nuestras novedades?</h2>
    <h3 class="text-2xl italic">Síganos en nuestras redes sociales</h3>
    <a
        href="https://www.facebook.com/people/RCG-Abogados/100068231351393/?ref=hl"
        target="_blank">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="#713f12"
            class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z"
            ></path></svg
        >
    </a>
    <p class="text-xl font-medium">
        Visítenos, déjenos su like, reacción o comentario
    </p>
</div>
